@using Sora.Entites.IC
@using Sora.Hospital.Infrastructure.CommonObjects
@model Sora.Hospital.Infrastructure.CommonObjects.ArticleList
@{
    ViewBag.Title = "Danh sách bài viết";
    Layout = "~/Views/Shared/_LayoutSimpleAdmin.cshtml";

    bool isBlog = false;
    if (ViewBag.IsBlog != null)
    {
        isBlog = (bool)ViewBag.IsBlog;
    }
    var isSuccess = ViewBag.Success;
    var Message = ViewBag.Message;
}
<!-- Page-header start -->
<div class="page-header horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Danh sách bài viết hướng dẫn bệnh nhân</h4>
                    <span>Danh sách bài viết hướng dẫn bệnh nhân </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="~/Admin">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Guide")">Hướng dẫn bệnh nhân</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Bài viết</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Zero config.table start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-header row contact-header">
                        <h5 class="mt-2">Danh sách bài viết hướng dẫn bệnh nhân</h5>
                        @using (Html.BeginForm("Index", "Guide", FormMethod.Get, new
                        {
                            @class = "w-50"
                        }))
                        {
                            <div class="input-group mb-3 w-50 ml-5">
                                <button type="submit" class="input-group-text btn-search input-group-prepend px-2" id="basic-addon1">
                                    <i class="feather icon-search"></i>
                                </button>
                                @Html.TextBox("search", null, new
                                {
                                    @class = "form-control",
                                    placeholder = "Tìm kiếm",
                                    id = "search"
                                })
                            </div>
                        }
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <i class="feather icon-maximize full-card"></i>
                                </li>
                                <li>
                                    <i class="feather icon-minus minimize-card"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <div class="w-100">
                        <ul class="nav nav-tabs md-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#articleVN" role="tab">Tiếng Việt</a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-12 ">
                            <!-- Tab panes -->
                            <div class="tab-content card-block">
                                <div class="tab-pane active" id="articleVN" role="tabpanel">
                                    <div class="row">
                                        <div class="col-12">

                                        </div>
                                    </div>
                                    <div class="dt-responsive table-responsive">
                                        <table id="listData" class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Ngày đăng</th>
                                                    <th>Mô tả</th>
                                                    <th>Hình ảnh</th>
                                                    <th>Trạng thái</th>
                                                    <th>Hiển thị trên trang chủ</th>
                                                    <th>Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model == null || Model.MainArticleList == null)
                                                {
                                                    <tr><td colspan="5"></td> Chưa có bài viết </tr>
                                                }
                                                else
                                                {
                                                    foreach (var item in Model.MainArticleList.List)
                                                    {
                                                        <tr>
                                                            <td>@String.Format("{0:dd/MM/yyyy}", item.ICArticleDate)</td>
                                                            <td class="w-40" style="white-space:normal"><b>@item.ICArticleTitle</b> <br /> <i> /@item.ICArticleFriendlyUrl</i> </td>
                                                            <td><img src="~/Content/Upload/Article/@(!string.IsNullOrWhiteSpace(item.ICArticlePicture) ? item.ICArticlePicture : "no-img-article.png")" class="avater-image" width="100" /></td>
                                                            <td>
                                                                @(item.ICArticleIsShowHome == true ? "Công bố" : "Không công bố") <br />
                                                                @(item.ICArticleIsFeatured == true ? "Bài viết nổi bật" : "") <br />
                                                                @if (item.ICArticleIsFeatured)
                                                                {
                                                                    <span>Thứ tự bài viết nổi bật: @item.ICArticleFeaturedSortOrder</span>
                                                                }
                                                            </td>
                                                            <td>@(item.ICArticleIsShowHome == true ? "Cho phép hiển thị" : "Không hiển thị")</td>
                                                            <td>
                                                                <div class="btn-group  " role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">

                                                                    @using (Html.BeginForm("Delete", "Guide",
                                                                        new { articleId = item.ICArticleID },
                                                                        FormMethod.Post)
                                                                    )
                                                                    {
                                                                        @Html.HttpMethodOverride(HttpVerbs.Delete){
                                                                            @Html.ActionLink("Sửa", "Detail", "Guide", new { articleId = item.ICArticleID }, new { @class = "btn btn-primary btn-sm waves-effect waves-light" })
                                                                            <input class="btn btn-primary btn-sm waves-effect waves-light" type="submit" value="Xóa" onclick="return confirm('Are you sure you wish to delete @item.ICArticleTitle ?');" />
                                                                        }
                                                                    }

                                                                </div>
                                                            </td>
                                                        </tr>
                                                    }

                                                }
                                            </tbody>
                                            @if ((Model != null || Model.MainArticleList != null) && Model.MainArticleList.TotalRecords > 0)
                                            {
                                                var result = Model.MainArticleList;
                                                var currentPage = result.CurrentPage;
                                                var totalPage = result.TotalPages;
                                                <tfoot>
                                                    <tr class="footable-paging footable">
                                                        <td colspan="8">
                                                            <div class="d-flex align-items-center">
                                                                <span class="pr-2">Số dòng/trang</span>
                                                                @using (Html.BeginForm("Index", "Guide", FormMethod.Get, new { id = "changePageSize" }))
                                                                {
                                                                    @Html.DropDownList("pageSize",
                                                                        new List<SelectListItem> {
                                                                            new SelectListItem { Value = "10" , Text = "10" },
                                                                            new SelectListItem { Value = "25" , Text = "25" },
                                                                            new SelectListItem { Value = "50" , Text = "50" },
                                                                            new SelectListItem { Value = "100" , Text = "100" }
                                                                        }, new
                                                                        {
                                                                            onchange = "submitChange()",
                                                                                 @class = "form-control form-control-primary"
                                                                        })

                                                                    <input type="hidden" name="categoryId" value="@ViewBag.Category" />
                                                                }
                                                            </div>
                                                            <div class="text-center">
                                                                <ul class="pagination mb-2">
                                                                    <li class="footable-page-nav" data-page="first">
                                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Guide", new { page = 1, pageSize=Request.Params["pageSize"], categoryId = Request.Params["pageSize"]})'">
                                                                            «
                                                                        </button>
                                                                    </li>
                                                                    <li class="footable-page-nav" data-page="first">
                                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Guide", new { page = currentPage, pageSize=Request.Params["pageSize"], categoryId = Request.Params["pageSize"] })'">
                                                                            ‹
                                                                        </button>
                                                                    </li>
                                                                    @for (var i = currentPage - 4; i < totalPage && i < currentPage + 5; i++)
                                                                    {
                                                                        if (i >= 0)
                                                                        {
                                                                            if ((currentPage <= 2 && i < 5) || (currentPage > 2 && (i >= currentPage - 2 || i >= totalPage - 5) && i <= currentPage + 2))
                                                                            {
                                                                                <li class="footable-page visible @(i == currentPage ? "active": "")">
                                                                                    @Html.ActionLink((i + 1).ToString(), "Index", "Guide", new { page = i + 1, pageSize = Request.Params["pageSize"], categoryId = Request.Params["pageSize"] }, new { @class = "btn btn-sm footable-page-link" })
                                                                                </li>
                                                                            }

                                                                        }

                                                                    }
                                                                    <li class="footable-page-nav" data-page="first">
                                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Guide", new { page = currentPage + 2, pageSize=Request.Params["pageSize"], categoryId = Request.Params["pageSize"] })'">
                                                                            ›
                                                                        </button>
                                                                    </li>
                                                                    <li class="footable-page-nav" data-page="first">
                                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Guide", new { page = totalPage, pageSize=Request.Params["pageSize"], categoryId = Request.Params["pageSize"] })'">
                                                                            »
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                                <div class="divider"></div><span class="label label-default">@(result.CurrentPage + 1) of @result.TotalPages</span>
                                                            </div>

                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            }
                                        </table>
                                        <a href="@Url.Action("Create", "Guide")" class="btn btn-mid btn-success">Thêm bài viết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Zero config.table end -->
        </div>
    </div>
</div>
<!-- Page-body end -->

@section scripts {
    @if (isSuccess != null)
    {
        if (isSuccess)
        {
            <script>
                toastr.success('@Message', 'Thành công');
            </script>
        }
        else
        {
            <script>
                toastr.error('@Message', 'Thất bại',{timeOut: 8000});
            </script>
        }
    }
    <script type="text/javascript">
        function submitChange(value) {
            $('#changePageSize').submit();
        }
    </script>
}