@using Sora.Hospital.Infrastructure.Security;
@{

}
<div class="pcoded-inner-navbar main-menu">
    <div class="pcoded-navigatio-lavel">Navigation</div>
    <ul class="pcoded-item pcoded-left-item">
        <li class="pcoded-item" id="dashboard">
            <a href="@Url.Action("Index","Manager")">
                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                <span class="pcoded-mtext">Dashboard</span>
            </a>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
                <span class="pcoded-mtext">Tin tức</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="news-cat">
                    <a href="@Url.Action("NewsCategory","Articles")">
                        <span class="pcoded-mtext">Danh mục tin tức</span>
                    </a>
                </li>
                <li class=" " id="news-list">
                    <a href="@Url.Action("ArticleListing","Articles")">
                        <span class="pcoded-mtext">Danh sách bài viết</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-clipboard"></i></span>
                <span class="pcoded-mtext">Hướng dẫn bệnh nhân</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="index-guide">
                    <a href="@Url.Action("Index","Guide")">
                        <span class="pcoded-mtext">Danh sách bài viết</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                <span class="pcoded-mtext">Chuyên khoa & Bác sĩ</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="specialist-type-index">
                    <a href="@Url.Action("Index","SpecialistTypes")">
                        <span class="pcoded-mtext">Quản lý loại chuyên khoa</span>
                    </a>
                </li>
                <li class=" " id="specialist-index">
                    <a href="@Url.Action("Index","Specialists")">
                        <span class="pcoded-mtext">Quản lý chuyên khoa</span>
                    </a>
                </li>
                <li class=" " id="doctor-list">
                    <a href="@Url.Action("Index","Doctors")">
                        <span class="pcoded-mtext">Quản lý hồ sơ bác sĩ</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-briefcase"></i></span>
                <span class="pcoded-mtext">Sản phẩm</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="product-group-index">
                    <a href="@Url.Action("Index","ProductGroups")">
                        <span class="pcoded-mtext">Quản lý nhóm sản phẩm</span>
                    </a>
                </li>
                <li class=" " id="product-index">
                    <a href="@Url.Action("Index","Products")">
                        <span class="pcoded-mtext">Quản lý sản phẩm</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                <span class="pcoded-mtext">Tuyến xã</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="commune-index">
                    <a href="@Url.Action("Index","Communes")">
                        <span class="pcoded-mtext">Quản lý tuyến xã</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class=" pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-book"></i></span>
                <span class="pcoded-mtext">Văn bản</span>
            </a>
            <ul class="pcoded-submenu">
                <li class=" " id="document-type-index">
                    <a href="@Url.Action("Index","DocumentTypes")">
                        <span class="pcoded-mtext">Quản lý loại văn bản</span>
                    </a>
                </li>
                <li class=" " id="document-index">
                    <a href="@Url.Action("Index","Documents")">
                        <span class="pcoded-mtext">Quản lý văn bản</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="pcoded-hasmenu">
            <a href="javascript:void(0)">
                <span class="pcoded-micon"><i class="feather icon-sliders"></i></span>
                <span class="pcoded-mtext">Cấu hình chung</span>
            </a>
            <ul class="pcoded-submenu">
                @*<li class=" " id="translate">
                    <a href="@Url.Action("Index", "Translate" , new { lang="vn" } )">
                        <span class="pcoded-mtext">Ngôn ngữ</span>
                    </a>
                </li>*@
                <li class="" id="config-company">
                    <a href="@Url.Action("Index", "CompanyConfig")">
                        <span class="pcoded-mtext">Công ty</span>
                    </a>
                </li>
                <li class="" id="error-log">
                    <a href="@Url.Action("Index", "SALog")">
                        <span class="pcoded-mtext">Error Logs</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>

@section scripts {

}
