@using Sora.Services.ViewModels
@using Sora.Common.CommonObjects
@using Sora.Common.Extensions
@using Sora.Common.Enums
@using Sora.Common.Constants
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSimpleAdmin.cshtml";
    var isSuccess = ViewBag.Success;
    var Message = ViewBag.Message;
    var result = (PagedResult<ProductViewModel>)Model;
    int counter = 1;
    var search = (string)ViewBag.Search;
}

<!-- Page-header start -->
<div class="page-header horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Quản lý sản phẩm</h4>
                    <span>Danh sách sản phẩm. Bạn có thể sửa, thêm mới và xóa</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="~/Admin">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index","Doctors")">Sản phẩm</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Danh sách</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Page-header end -->
<!-- Page-header end -->
<div class="page-body">
    <div class="row">
        <div class="col-sm-12">
            <!-- Zero config.table start -->
            <div class="card">
                <div class="card-header">
                    <div class="card-header contact-header">
                        <h5 class="mt-2">Danh sách sản phẩm</h5>
                        <a href="@Url.Action("Create", "Products")" class="btn btn-mid btn-success">Thêm mới sản phẩm</a>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li>
                                    <i class="feather icon-maximize full-card"></i>
                                </li>
                                <li>
                                    <i class="feather icon-minus minimize-card"></i>
                                </li>
                            </ul>
                        </div>
                        @using (Html.BeginForm("Index", "Products", FormMethod.Get, new
                        {
                            @class = "w-100"
                        }))
                        {
                            <div class="row mt-3">
                                <div class="input-search d-flex align-items-center mx-3">
                                    <label class="mb-0" style="width: 170px">Tên sản phẩm</label>
                                    @Html.TextBox("search", search, new
                                    {
                                        @class = "form-control",
                                        placeholder = "Tìm kiếm",
                                        id = "search"
                                    })
                                </div>
                                <div class="select-specialist d-flex align-items-center ml-2">
                                        <label class="mb-0" style="width: 170px">Loại sản phẩm</label>
                                        <select class="form-control" name="productType" id="product-type">
                                            <option>Chọn loại sản phẩm</option>
                                            <option value="Service" @(ViewBag.ProductType == "Service" ? "selected" : "")>Dịch vụ</option>
                                            <option value="ServicePackage" @(ViewBag.ProductType == "ServicePackage" ? "selected" : "")>Gói Dịch vụ</option>
                                            <option value="MedicalExamination" @(ViewBag.ProductType == "MedicalExamination" ? "selected" : "")>Khám bệnh</option>
                                        </select>
                                    </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-primary mx-4" style="height: 38px; padding: 7px 20px;" type="submit">Lọc</button>
                                    <a href="@Url.Action("Index", "Products")" class="btn btn-primary" style="height: 38px; padding: 7px 20px;">Xóa lọc</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="listData" class="table table-striped table-bordered nowrap">
                            <thead>
                                <tr>
                                    <th>Thứ tự</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Tiêu đề</th>
                                    <th>Nhóm sản phẩm</th>
                                    <th>Thông tin</th>
                                    <th>Ảnh đại diện</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ProductViewModel item in result.Items)
                                {
                                    <tr>
                                        <td width="60" class="text-center">@(counter++) </td>
                                        <td>
                                            <strong>@item.ICProductName</strong>
                                        </td>
                                        <td>
                                            @item.ICProductTitle
                                        </td>
                                        <td style="max-width: 350px; white-space: normal;">
                                            @(item.ProductGroup == null ? "//" : item.ProductGroup.ICProductGroupName)
                                        </td>
                                        <td style="max-width: 350px; white-space: normal;">
                                            @if (item.ICProductType == ProductType.Service.ToString())
                                            {
                                                <span>Dịch vụ</span>
                                            }
                                            else if (item.ICProductType == ProductType.ServicePackage.ToString())
                                            {
                                                <span>Gói dịch vụ</span>
                                            }
                                            else if (item.ICProductType == ProductType.MedicalExamination.ToString())
                                            {
                                                <span>Khám bệnh</span>
                                            }
                                            <br />Giá: @string.Format("{0:#,0} VNĐ", item.ICProductPrice) <br />
                                            @(item.ICProductIsShowWeb == true ? "Cho phép hiển thị" : "Không hiển thị")
                                        </td>
                                        <td>
                                            <img src="@(!item.ICProductPicture.IsNullOrWhiteSpace() ? string.Format("{0}{1}", Constants.PATH_IMAGE_PRODUCT, item.ICProductPicture) : "/Content/images/noavatar.gif")" class="avater-image" height="60" />
                                        </td>
                                        <td align="center">
                                            <div class="btn-group  " role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">

                                                @using (Html.BeginForm("Delete", "Products",
                                                    new { id = item.ICProductID },
                                                    FormMethod.Post,
                                                    new { id = item.ICProductID })
                                                )
                                                {
                                                    @Html.HttpMethodOverride(HttpVerbs.Delete){
                                                        @Html.ActionLink("Sửa", "Detail", "Products", new { id = item.ICProductID }, new { @class = "btn btn-primary btn-sm waves-effect waves-light" })
                                                        <input class="btn btn-primary btn-sm waves-effect waves-light" type="submit" value="Xóa" onclick="return confirm('Bạn chắc chắn có muốn xóa!');" />
                                                    }
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            @if (result.TotalCount == 0)
                            {
                                <tfoot>
                                    <tr class="footable-paging footable">
                                        <td colspan="8" class="text-center">
                                            Không có dữ liệu
                                        </td>
                                    </tr>
                                </tfoot>
                            }
                            @if (result.TotalCount > 0)
                            {
                                var currentPage = result.PageIndex;
                                var totalPage = result.TotalPages;

                                <tfoot>
                                    <tr class="footable-paging footable">
                                        <td colspan="8">
                                            <div class="d-flex align-items-center">
                                                <span class="pr-2">Số dòng/trang</span>
                                                @using (Html.BeginForm("Index", "Doctors", FormMethod.Get, new { id = "changePageSize" }))
                                                {
                                                    @Html.DropDownList("pageSize",
                                                        new List<SelectListItem> {
                                                            new SelectListItem { Value = "10" , Text = "10" },
                                                            new SelectListItem { Value = "25" , Text = "25" },
                                                            new SelectListItem { Value = "50" , Text = "50" },
                                                            new SelectListItem { Value = "100" , Text = "100" }
                                                        }, new
                                                        {
                                                            onchange = "submitChange()",
                                                                 @class = "form-control form-control-primary"
                                                        })
                                                }
                                            </div>
                                            <div class="text-center">
                                                <ul class="pagination mb-2">
                                                    <li class="footable-page-nav" data-page="first">
                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Doctors", new { page = 1, pageSize=Request.Params["pageSize"] })'">
                                                            «
                                                        </button>
                                                    </li>
                                                    <li class="footable-page-nav" data-page="first">
                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Doctors", new { page = currentPage, pageSize=Request.Params["pageSize"] })'">
                                                            ‹
                                                        </button>
                                                    </li>
                                                    @for (var i = currentPage - 4; i < totalPage && i < currentPage + 5; i++)
                                                    {
                                                        if (i >= 0)
                                                        {
                                                            if ((currentPage <= 2 && i < 5) || (currentPage > 2 && (i >= currentPage - 2 || i >= totalPage - 5) && i <= currentPage + 2))
                                                            {
                                                                <li class="footable-page visible @(i == currentPage ? "active": "")">
                                                                    @Html.ActionLink((i + 1).ToString(), "Index", "Doctors", new { page = i + 1, pageSize = Request.Params["pageSize"] }, new { @class = "btn btn-sm footable-page-link" })
                                                                </li>
                                                            }

                                                        }

                                                    }
                                                    <li class="footable-page-nav" data-page="first">
                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Doctors", new { page = currentPage + 2, pageSize=Request.Params["pageSize"] })'">
                                                            ›
                                                        </button>
                                                    </li>
                                                    <li class="footable-page-nav" data-page="first">
                                                        <button class="footable-page-link" disabled="@(!result.HasPreviousPage)" onclick="location.href = '@Url.Action("Index", "Doctors", new { page = totalPage, pageSize=Request.Params["pageSize"] })'">
                                                            »
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div class="divider"></div><span class="label label-default">@(result.PageIndex + 1) of @result.TotalPages</span>
                                            </div>

                                        </td>
                                    </tr>
                                </tfoot>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <!-- Zero config.table end -->
        </div>
    </div>
</div>
<!-- Page-body end -->
@section scripts {
    <script type="text/javascript" src="~/Content/ckfinder/ckfinder.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/select2.full.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/select2-custom.js"></script>
    @if (isSuccess != null)
    {
        if (isSuccess)
        {
            <script>
                toastr.success('@Message', 'Thành công');
            </script>
        }
        else
        {
            <script>
                toastr.error('@Message', 'Thất bại',{timeOut: 8000});
            </script>
        }
    }
    <script type="text/javascript">
        function submitChange(value) {
            $('#changePageSize').submit();
        }
    </script>
}
