@using Sora.Services.ViewModels
@using Sora.Common.Constants
@using Sora.Common.Extensions
@model Sora.Services.ViewModels.CompanyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSimpleAdmin.cshtml";

    var isSuccess = ViewBag.Success;
    var Message = ViewBag.Message;
}
@section css{
    <style>
        .tabledit-span {
            width: 25vw;
            white-space: unset;
            display: block;
        }

        .box-img-avatar {
            position: relative;
            overflow: hidden;
            width: 400px;
            height: 280px;
            max-width: 100%;
            max-height: 100%;
            margin-bottom: -15px;
            border: 1px solid #bfbfbf;
        }

        .img-avatar {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        .lable-input {
            position: absolute;
            background: #0000004f;
            width: 100%;
            left: 0;
            bottom: 0;
            margin-bottom: 0;
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #00ffe1;
            cursor: pointer;
        }
    </style>
}
<!-- Page-header start -->
<div class="page-header horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Thông tin công ty</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item">
                        <a href="~/">
                            <i class="icofont icofont-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Thiết lập</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Thông tin công ty</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <div class="row">

        <div class="col-sm-12" id="config-alert-success" style="display:none">
            <div class="alert alert-primary icons-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="icofont icofont-close-line-circled"></i>
                </button>
                <p><strong>Thành công!</strong> <span id="config-message-success"></span> </p>
            </div>
        </div>

        <div class="col-sm-12" id="config-alert-fail" style="display:none">
            <div class="alert alert-danger icons-alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="icofont icofont-close-line-circled"></i>
                </button>
                <p><strong>Lỗi!</strong>  <span id="config-message-fail"></span></p>
            </div>
        </div>

        <div class="col-sm-12">
            <!-- Zero config.table start -->
            @using (Html.BeginForm("Update", "CompanyConfig", new { companyID = Model.CSCompanyID }, FormMethod.Post, new { @id = "formData", @class = "form-validate form-page", enctype = "multipart/form-data" }))
            {
                <div class="card">
                    <div class="card-header">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#category1" role="tab">Tiếng Việt</a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="feather icon-maximize full-card"></i></li>
                                <li><i class="feather minimize-card icon-minus"></i></li>
                            </ul>
                        </div>
                    </div>

                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.CSCompanyID)
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12 ">
                                <!-- Tab panes -->
                                <div class="tab-content card-block">
                                    <div class="tab-pane active" id="category1" role="tabpanel">
                                        <div class="row w-100">
                                            <div class="col-6">
                                                <div class=" col-12">
                                                    <div class="form-group">
                                                        <label>Tên công ty</label>
                                                        @Html.TextBoxFor(model => model.CSCompanyName, new { @class = "form-control", placeholder = "tên công ty", autocomplete = "off", maxlength = 500 })
                                                    </div>
                                                </div>
                                                <div class=" col-12">
                                                    <div class="form-group">
                                                        <label>Email</label>
                                                        @Html.TextBoxFor(model => model.CSCompanyEmail, new { @class = "form-control", placeholder = "email", autocomplete = "off", maxlength = 100 })
                                                    </div>
                                                </div>
                                                <div class=" col-12">
                                                    <div class="form-group">
                                                        <label>Số điện thoại</label>
                                                        @Html.TextBoxFor(model => model.CSCompanyPhone, new { @class = "form-control", placeholder = "số điện thoại", autocomplete = "off", maxlength = 20 })
                                                    </div>
                                                </div>
                                                <div class=" col-12">
                                                    <div class="form-group">
                                                        <label>Website</label>
                                                        @Html.TextBoxFor(model => model.CSCompanyWebsite, new { @class = "form-control", placeholder = "website", autocomplete = "off", maxlength = 100 })
                                                    </div>
                                                </div>
                                                <div class=" col-12">
                                                    <div class="form-group">
                                                        <label>Địa chỉ</label>
                                                        @Html.TextBoxFor(model => model.CSCompanyAddress, new { @class = "form-control", placeholder = "địa chỉ", autocomplete = "off", maxlength = 500 })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 d-flex align-items-center">
                                                <div class="form-group aligncenter box-img-avatar mx-auto mb-2">
                                                    @Html.HiddenFor(model => model.CSCompanyAvatar)
                                                    @{
                                                        var imgCompany = !Model.CSCompanyAvatar.IsNullOrWhiteSpace() ? string.Format("{0}{1}", Constants.PATH_IMAGE_COMPANY, Model.CSCompanyAvatar) : "/Content/images/noavatar.gif";
                                                    }
                                                    <img class="img-avatar" style="" src="@imgCompany" alt="no image" name="avatar1" id="avatar1" />
                                                    <br />
                                                    <input type="file" class="d-none" id="avatar" name="avatar" onchange="SetImagePreview(this,'image')" />
                                                    <label class="lable-input" for="avatar">Cập nhật Logo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-12">
                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                @Html.TextAreaFor(model => model.CSCompanyDesc, new { @class = "form-control editor box-content editor", placeholder = "Mô tả", autocomplete = "off", rows = 3, maxlength = 1000 })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-12 align-center">
                                <div class="form-group" style="margin: auto;padding: 13px;">
                                    <span style="float:right">
                                        <button type="submit" class="btn btn-space btn-primary ">Lưu</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Zero config.table end -->
        </div>
    </div>
</div>
<!-- Page-body end -->
@section scripts {
    <!-- Editable-table js -->
    <script type="text/javascript" src="~/Content/Adminty/assets/pages/edit-table/jquery.tabledit.js"></script>
    <script type="text/javascript" src="~/Content/Adminty/assets/pages/edit-table/editable.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
    <script src="~/Content/ckeditor/adapters/jquery.js"></script>
    <script type="text/javascript" src="~/Content/ckfinder/ckfinder.js"></script>
    @if (isSuccess != null)
    {
        if (isSuccess)
        {
            <script>
                toastr.success('@Message', 'Thành công');
            </script>
        }
        else
        {
            <script>
                toastr.error('@Message', 'Thất bại',{timeOut: 8000});
            </script>
        }
    }
    <script type="text/javascript">
        $(function () {
            var $form = $("#formData");
            $(".editor")
                .ckeditor();
        });


        function SetImagePreview(input, picId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#avatar1').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}
